openapi: 3.2.0
info:
  version: '2022-09-28'
  x-release: bearer
  title: Amazon CodeCatalyst Session API
  description: Welcome to the Amazon CodeCatalyst API reference.
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: codecatalyst
  x-aws-signingName: codecatalyst
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codecatalyst-2022-09-28.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: http://codecatalyst.global.api.aws
  variables: {}
  description: The general Amazon CodeCatalyst multi-region endpoint
- url: https://codecatalyst.global.api.aws
  variables: {}
  description: The general Amazon CodeCatalyst multi-region endpoint
- url: http://codecatalyst.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)
- url: https://codecatalyst.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: Session
paths:
  /session:
    get:
      operationId: VerifySession
      description: Verifies whether the calling user has a valid Amazon CodeCatalyst login and session. If successful, this returns the ID of the user in Amazon CodeCatalyst.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySessionResponse'
              examples:
                VerifySession200Example:
                  summary: Default VerifySession 200 response
                  x-microcks-default: true
                  value:
                    identity: '500123'
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                VerifySession480Example:
                  summary: Default VerifySession 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                VerifySession481Example:
                  summary: Default VerifySession 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                VerifySession482Example:
                  summary: Default VerifySession 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                VerifySession483Example:
                  summary: Default VerifySession 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                VerifySession484Example:
                  summary: Default VerifySession 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                VerifySession485Example:
                  summary: Default VerifySession 485 response
                  x-microcks-default: true
                  value: example-value
      summary: Amazon CodeCatalyst Verify Session
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Session
components:
  schemas:
    AccessDeniedException: {}
    ServiceQuotaExceededException: {}
    ConflictException: {}
    VerifySessionResponseIdentityString:
      type: string
      minLength: 1
      maxLength: 256
    ThrottlingException: {}
    ResourceNotFoundException: {}
    VerifySessionResponse:
      type: object
      properties:
        identity:
          allOf:
          - $ref: '#/components/schemas/VerifySessionResponseIdentityString'
          - description: The system-generated unique ID of the user in Amazon CodeCatalyst.
    ValidationException: {}
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/codecatalyst/
