openapi: 3.0.0
info:
  version: '2022-09-28'
  x-release: bearer
  title: Amazon CodeCatalyst AccessTokens UserDetails API
  description: <p>Welcome to the Amazon CodeCatalyst API reference. This reference provides descriptions of operations and data types for Amazon CodeCatalyst. You can use the Amazon CodeCatalyst API to work with the following objects. </p> <p>Spaces, by calling the following:</p> <ul> <li> <p> <a>DeleteSpace</a>, which deletes a space.</p> </li> <li> <p> <a>GetSpace</a>, which returns information about a space.</p> </li> <li> <p> <a>GetSubscription</a>, which returns information about the Amazon Web Services account used for billing purposes and the billing plan for the space.</p> </li> <li> <p> <a>ListSpaces</a>, which retrieves a list of spaces.</p> </li> <li> <p> <a>UpdateSpace</a>, which hanges one or more values for a space.</p> </li> </ul> <p>Projects, by calling the following:</p> <ul> <li> <p> <a>CreateProject</a> which creates a project in a specified space.</p> </li> <li> <p> <a>GetProject</a>, which returns information about a project.</p> </li> <li> <p> <a>ListProjects</a>, which retrieves a list of projects in a space.</p> </li> </ul> <p>Users, by calling the following:</p> <ul> <li> <p> <a>GetUserDetails</a>, which returns information about a user in Amazon CodeCatalyst.</p> </li> </ul> <p>Source repositories, by calling the following:</p> <ul> <li> <p> <a>CreateSourceRepository</a>, which creates an empty Git-based source repository in a specified project.</p> </li> <li> <p> <a>CreateSourceRepositoryBranch</a>, which creates a branch in a specified repository where you can work on code.</p> </li> <li> <p> <a>DeleteSourceRepository</a>, which deletes a source repository.</p> </li> <li> <p> <a>GetSourceRepository</a>, which returns information about a source repository.</p> </li> <li> <p> <a>GetSourceRepositoryCloneUrls</a>, which returns information about the URLs that can be used with a Git client to clone a source repository.</p> </li> <li> <p> <a>ListSourceRepositories</a>, which retrieves a list of source repositories in a project.</p> </li> <li> <p> <a>ListSourceRepositoryBranches</a>, which retrieves a list of branches in a source repository.</p> </li> </ul> <p>Dev Environments and the Amazon Web Services Toolkits, by calling the following:</p> <ul> <li> <p> <a>CreateDevEnvironment</a>, which creates a Dev Environment, where you can quickly work on the code stored in the source repositories of your project.</p> </li> <li> <p> <a>DeleteDevEnvironment</a>, which deletes a Dev Environment.</p> </li> <li> <p> <a>GetDevEnvironment</a>, which returns information about a Dev Environment.</p> </li> <li> <p> <a>ListDevEnvironments</a>, which retrieves a list of Dev Environments in a project.</p> </li> <li> <p> <a>ListDevEnvironmentSessions</a>, which retrieves a list of active Dev Environment sessions in a project.</p> </li> <li> <p> <a>StartDevEnvironment</a>, which starts a specified Dev Environment and puts it into an active state.</p> </li> <li> <p> <a>StartDevEnvironmentSession</a>, which starts a session to a specified Dev Environment.</p> </li> <li> <p> <a>StopDevEnvironment</a>, which stops a specified Dev Environment and puts it into an stopped state.</p> </li> <li> <p> <a>StopDevEnvironmentSession</a>, which stops a session for a specified Dev Environment.</p> </li> <li> <p> <a>UpdateDevEnvironment</a>, which changes one or more values for a Dev Environment.</p> </li> </ul> <p>Security, activity, and resource management in Amazon CodeCatalyst, by calling the following:</p> <ul> <li> <p> <a>CreateAccessToken</a>, which creates a personal access token (PAT) for the current user.</p> </li> <li> <p> <a>DeleteAccessToken</a>, which deletes a specified personal access token (PAT).</p> </li> <li> <p> <a>ListAccessTokens</a>, which lists all personal access tokens (PATs) associated with a user.</p> </li> <li> <p> <a>ListEventLogs</a>, which retrieves a list of events that occurred during a specified time period in a space.</p> </li> <li> <p> <a>VerifySession</a>, which verifies whether the calling user has a valid Amazon CodeCatalyst login and session.</p> </li> </ul> <note> <p>If you are using the Amazon CodeCatalyst APIs with an SDK or the CLI, you must configure your computer to work with Amazon CodeCatalyst and single sign-on (SSO). For more information, see <a href="https://docs.aws.amazon.com/codecatalyst/latest/userguide/set-up-cli.html">Setting up to use the CLI with Amazon CodeCatalyst</a> and the SSO documentation for your SDK.</p> </note>
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: codecatalyst
  x-aws-signingName: codecatalyst
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codecatalyst-2022-09-28.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: http://codecatalyst.global.api.aws
  variables: {}
  description: The general Amazon CodeCatalyst multi-region endpoint
- url: https://codecatalyst.global.api.aws
  variables: {}
  description: The general Amazon CodeCatalyst multi-region endpoint
- url: http://codecatalyst.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)
- url: https://codecatalyst.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: UserDetails
paths:
  /userDetails:
    get:
      operationId: GetUserDetails
      description: 'Returns information about a user. '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserDetailsResponse'
              examples:
                GetUserDetails200Example:
                  summary: Default GetUserDetails 200 response
                  x-microcks-default: true
                  value:
                    userId: '500123'
                    userName: example-resource
                    displayName: example-resource
                    primaryEmail: example-value
                    version: 1.0.0
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                GetUserDetails480Example:
                  summary: Default GetUserDetails 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                GetUserDetails481Example:
                  summary: Default GetUserDetails 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                GetUserDetails482Example:
                  summary: Default GetUserDetails 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                GetUserDetails483Example:
                  summary: Default GetUserDetails 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                GetUserDetails484Example:
                  summary: Default GetUserDetails 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                GetUserDetails485Example:
                  summary: Default GetUserDetails 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: id
        in: query
        required: false
        description: 'The system-generated unique ID of the user. '
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: userName
        in: query
        required: false
        description: The name of the user as displayed in Amazon CodeCatalyst.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]{3,100}'
          minLength: 3
          maxLength: 100
      summary: Amazon CodeCatalyst Get User Details
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - UserDetails
components:
  schemas:
    ThrottlingException: {}
    ServiceQuotaExceededException: {}
    ConflictException: {}
    GetUserDetailsResponse:
      type: object
      properties:
        userId:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The system-generated unique ID of the user.
        userName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the user as displayed in Amazon CodeCatalyst.
        displayName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The friendly name displayed for the user in Amazon CodeCatalyst.
        primaryEmail:
          allOf:
          - $ref: '#/components/schemas/EmailAddress'
          - description: The email address provided by the user when they signed up.
        version:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: <p/>
    String:
      type: string
    EmailAddress:
      type: object
      properties:
        email:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The email address.
        verified:
          allOf:
          - $ref: '#/components/schemas/Boolean'
          - description: Whether the email address has been verified.
      description: Information about an email address.
    AccessDeniedException: {}
    ResourceNotFoundException: {}
    ValidationException: {}
    Boolean:
      type: boolean
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/codecatalyst/
