openapi: 3.2.0
info:
  version: '2022-09-28'
  x-release: bearer
  title: Amazon CodeCatalyst User Details API
  description: Welcome to the Amazon CodeCatalyst API reference.
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: codecatalyst
  x-aws-signingName: codecatalyst
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codecatalyst-2022-09-28.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: http://codecatalyst.global.api.aws
  variables: {}
  description: The general Amazon CodeCatalyst multi-region endpoint
- url: https://codecatalyst.global.api.aws
  variables: {}
  description: The general Amazon CodeCatalyst multi-region endpoint
- url: http://codecatalyst.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)
- url: https://codecatalyst.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: User Details
paths:
  /userDetails:
    get:
      operationId: GetUserDetails
      description: Returns information about a user.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserDetailsResponse'
              examples:
                GetUserDetails200Example:
                  summary: Default GetUserDetails 200 response
                  x-microcks-default: true
                  value:
                    userId: '500123'
                    userName: example-resource
                    displayName: example-resource
                    primaryEmail: example-value
                    version: 1.0.0
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                GetUserDetails480Example:
                  summary: Default GetUserDetails 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                GetUserDetails481Example:
                  summary: Default GetUserDetails 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                GetUserDetails482Example:
                  summary: Default GetUserDetails 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                GetUserDetails483Example:
                  summary: Default GetUserDetails 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                GetUserDetails484Example:
                  summary: Default GetUserDetails 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                GetUserDetails485Example:
                  summary: Default GetUserDetails 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: id
        in: query
        required: false
        description: 'The system-generated unique ID of the user. '
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: userName
        in: query
        required: false
        description: The name of the user as displayed in Amazon CodeCatalyst.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]{3,100}'
          minLength: 3
          maxLength: 100
      summary: Amazon CodeCatalyst Get User Details
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - User Details
components:
  schemas:
    AccessDeniedException: {}
    Boolean:
      type: boolean
    EmailAddress:
      type: object
      properties:
        email:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The email address.
        verified:
          allOf:
          - $ref: '#/components/schemas/Boolean'
          - description: Whether the email address has been verified.
      description: Information about an email address.
    ServiceQuotaExceededException: {}
    ConflictException: {}
    String:
      type: string
    ThrottlingException: {}
    ResourceNotFoundException: {}
    GetUserDetailsResponse:
      type: object
      properties:
        userId:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The system-generated unique ID of the user.
        userName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the user as displayed in Amazon CodeCatalyst.
        displayName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The friendly name displayed for the user in Amazon CodeCatalyst.
        primaryEmail:
          allOf:
          - $ref: '#/components/schemas/EmailAddress'
          - description: The email address provided by the user when they signed up.
        version:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: <p/>
    ValidationException: {}
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/codecatalyst/
