openapi: 3.0.0
info:
  version: '2022-09-28'
  x-release: bearer
  title: Amazon CodeCatalyst AccessTokens Spaces API
  description: <p>Welcome to the Amazon CodeCatalyst API reference. This reference provides descriptions of operations and data types for Amazon CodeCatalyst. You can use the Amazon CodeCatalyst API to work with the following objects. </p> <p>Spaces, by calling the following:</p> <ul> <li> <p> <a>DeleteSpace</a>, which deletes a space.</p> </li> <li> <p> <a>GetSpace</a>, which returns information about a space.</p> </li> <li> <p> <a>GetSubscription</a>, which returns information about the Amazon Web Services account used for billing purposes and the billing plan for the space.</p> </li> <li> <p> <a>ListSpaces</a>, which retrieves a list of spaces.</p> </li> <li> <p> <a>UpdateSpace</a>, which hanges one or more values for a space.</p> </li> </ul> <p>Projects, by calling the following:</p> <ul> <li> <p> <a>CreateProject</a> which creates a project in a specified space.</p> </li> <li> <p> <a>GetProject</a>, which returns information about a project.</p> </li> <li> <p> <a>ListProjects</a>, which retrieves a list of projects in a space.</p> </li> </ul> <p>Users, by calling the following:</p> <ul> <li> <p> <a>GetUserDetails</a>, which returns information about a user in Amazon CodeCatalyst.</p> </li> </ul> <p>Source repositories, by calling the following:</p> <ul> <li> <p> <a>CreateSourceRepository</a>, which creates an empty Git-based source repository in a specified project.</p> </li> <li> <p> <a>CreateSourceRepositoryBranch</a>, which creates a branch in a specified repository where you can work on code.</p> </li> <li> <p> <a>DeleteSourceRepository</a>, which deletes a source repository.</p> </li> <li> <p> <a>GetSourceRepository</a>, which returns information about a source repository.</p> </li> <li> <p> <a>GetSourceRepositoryCloneUrls</a>, which returns information about the URLs that can be used with a Git client to clone a source repository.</p> </li> <li> <p> <a>ListSourceRepositories</a>, which retrieves a list of source repositories in a project.</p> </li> <li> <p> <a>ListSourceRepositoryBranches</a>, which retrieves a list of branches in a source repository.</p> </li> </ul> <p>Dev Environments and the Amazon Web Services Toolkits, by calling the following:</p> <ul> <li> <p> <a>CreateDevEnvironment</a>, which creates a Dev Environment, where you can quickly work on the code stored in the source repositories of your project.</p> </li> <li> <p> <a>DeleteDevEnvironment</a>, which deletes a Dev Environment.</p> </li> <li> <p> <a>GetDevEnvironment</a>, which returns information about a Dev Environment.</p> </li> <li> <p> <a>ListDevEnvironments</a>, which retrieves a list of Dev Environments in a project.</p> </li> <li> <p> <a>ListDevEnvironmentSessions</a>, which retrieves a list of active Dev Environment sessions in a project.</p> </li> <li> <p> <a>StartDevEnvironment</a>, which starts a specified Dev Environment and puts it into an active state.</p> </li> <li> <p> <a>StartDevEnvironmentSession</a>, which starts a session to a specified Dev Environment.</p> </li> <li> <p> <a>StopDevEnvironment</a>, which stops a specified Dev Environment and puts it into an stopped state.</p> </li> <li> <p> <a>StopDevEnvironmentSession</a>, which stops a session for a specified Dev Environment.</p> </li> <li> <p> <a>UpdateDevEnvironment</a>, which changes one or more values for a Dev Environment.</p> </li> </ul> <p>Security, activity, and resource management in Amazon CodeCatalyst, by calling the following:</p> <ul> <li> <p> <a>CreateAccessToken</a>, which creates a personal access token (PAT) for the current user.</p> </li> <li> <p> <a>DeleteAccessToken</a>, which deletes a specified personal access token (PAT).</p> </li> <li> <p> <a>ListAccessTokens</a>, which lists all personal access tokens (PATs) associated with a user.</p> </li> <li> <p> <a>ListEventLogs</a>, which retrieves a list of events that occurred during a specified time period in a space.</p> </li> <li> <p> <a>VerifySession</a>, which verifies whether the calling user has a valid Amazon CodeCatalyst login and session.</p> </li> </ul> <note> <p>If you are using the Amazon CodeCatalyst APIs with an SDK or the CLI, you must configure your computer to work with Amazon CodeCatalyst and single sign-on (SSO). For more information, see <a href="https://docs.aws.amazon.com/codecatalyst/latest/userguide/set-up-cli.html">Setting up to use the CLI with Amazon CodeCatalyst</a> and the SSO documentation for your SDK.</p> </note>
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: codecatalyst
  x-aws-signingName: codecatalyst
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codecatalyst-2022-09-28.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: http://codecatalyst.global.api.aws
  variables: {}
  description: The general Amazon CodeCatalyst multi-region endpoint
- url: https://codecatalyst.global.api.aws
  variables: {}
  description: The general Amazon CodeCatalyst multi-region endpoint
- url: http://codecatalyst.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)
- url: https://codecatalyst.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: Spaces
paths:
  /v1/spaces/{spaceName}/projects/{projectName}/devEnvironments:
    put:
      operationId: CreateDevEnvironment
      description: <p>Creates a Dev Environment in Amazon CodeCatalyst, a cloud-based development environment that you can use to quickly work on the code stored in the source repositories of your project. </p> <note> <p>When created in the Amazon CodeCatalyst console, by default a Dev Environment is configured to have a 2 core processor, 4GB of RAM, and 16GB of persistent storage. None of these defaults apply to a Dev Environment created programmatically.</p> </note>
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDevEnvironmentResponse'
              examples:
                CreateDevEnvironment201Example:
                  summary: Default CreateDevEnvironment 201 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    projectName: example-resource
                    id: '500123'
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                CreateDevEnvironment480Example:
                  summary: Default CreateDevEnvironment 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                CreateDevEnvironment481Example:
                  summary: Default CreateDevEnvironment 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                CreateDevEnvironment482Example:
                  summary: Default CreateDevEnvironment 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                CreateDevEnvironment483Example:
                  summary: Default CreateDevEnvironment 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                CreateDevEnvironment484Example:
                  summary: Default CreateDevEnvironment 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                CreateDevEnvironment485Example:
                  summary: Default CreateDevEnvironment 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instanceType
              - persistentStorage
              properties:
                repositories:
                  description: 'The source repository that contains the branch to clone into the Dev Environment. '
                  type: array
                  items:
                    $ref: '#/components/schemas/RepositoryInput'
                clientToken:
                  description: A user-specified idempotency token. Idempotency ensures that an API request completes only once. With an idempotent request, if the original request completes successfully, the subsequent retries return the result from the original successful request and have no additional effect.
                  type: string
                  minLength: 1
                  maxLength: 1024
                alias:
                  description: The user-defined alias for a Dev Environment.
                  type: string
                  pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
                  minLength: 1
                  maxLength: 128
                ides:
                  description: <p>Information about the integrated development environment (IDE) configured for a Dev Environment.</p> <note> <p>An IDE is required to create a Dev Environment. For Dev Environment creation, this field contains configuration information and must be provided. </p> </note>
                  type: array
                  items:
                    $ref: '#/components/schemas/IdeConfiguration'
                  minItems: 0
                  maxItems: 1
                instanceType:
                  description: 'The Amazon EC2 instace type to use for the Dev Environment. '
                  type: string
                  enum:
                  - dev.standard1.small
                  - dev.standard1.medium
                  - dev.standard1.large
                  - dev.standard1.xlarge
                inactivityTimeoutMinutes:
                  description: The amount of time the Dev Environment will run without any activity detected before stopping, in minutes. Only whole integers are allowed. Dev Environments consume compute minutes when running.
                  type: integer
                  minimum: 0
                  maximum: 1200
                persistentStorage:
                  description: 'Information about the configuration of persistent storage for a Dev Environment. '
                  type: object
                  properties:
                    sizeInGiB:
                      allOf:
                      - $ref: '#/components/schemas/PersistentStorageConfigurationSizeInGiBInteger'
                      - description: <p>The size of the persistent storage in gigabytes (specifically GiB).</p> <note> <p>Valid values for storage are based on memory sizes in 16GB increments. Valid values are 16, 32, and 64.</p> </note>
            examples:
              CreateDevEnvironmentRequestExample:
                summary: Default CreateDevEnvironment request
                x-microcks-default: true
                value:
                  repositories:
                  - repositoryName: example-resource
                    branchName: example-resource
                  clientToken: example-value
                  alias: example-value
                  ides:
                  - runtime: example-value
                    name: example-resource
                  instanceType: dev.standard1.small
                  inactivityTimeoutMinutes: 1718153645993
                  persistentStorage:
                    sizeInGiB: example-value
      summary: Amazon CodeCatalyst Create Dev Environment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    post:
      operationId: ListDevEnvironments
      description: Retrieves a list of Dev Environments in a project.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDevEnvironmentsResponse'
              examples:
                ListDevEnvironments200Example:
                  summary: Default ListDevEnvironments 200 response
                  x-microcks-default: true
                  value:
                    items: example-value
                    nextToken: example-value
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                ListDevEnvironments480Example:
                  summary: Default ListDevEnvironments 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                ListDevEnvironments481Example:
                  summary: Default ListDevEnvironments 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                ListDevEnvironments482Example:
                  summary: Default ListDevEnvironments 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                ListDevEnvironments483Example:
                  summary: Default ListDevEnvironments 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                ListDevEnvironments484Example:
                  summary: Default ListDevEnvironments 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                ListDevEnvironments485Example:
                  summary: Default ListDevEnvironments 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: maxResults
        in: query
        schema:
          type: string
        description: Pagination limit
        required: false
      - name: nextToken
        in: query
        schema:
          type: string
        description: Pagination token
        required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  description: Information about filters to apply to narrow the results returned in the list.
                  type: array
                  items:
                    $ref: '#/components/schemas/Filter'
                nextToken:
                  description: A token returned from a call to this API to indicate the next batch of results to return, if any.
                  type: string
                  minLength: 1
                  maxLength: 10000
                maxResults:
                  description: The maximum number of results to show in a single call to this API. If the number of results is larger than the number you specified, the response will include a <code>NextToken</code> element, which you can use to obtain additional results.
                  type: integer
                  minimum: 1
                  maximum: 50
            examples:
              ListDevEnvironmentsRequestExample:
                summary: Default ListDevEnvironments request
                x-microcks-default: true
                value:
                  filters:
                  - key: example-value
                    values: example-value
                    comparisonOperator: example-value
                  nextToken: example-value
                  maxResults: 1
      summary: Amazon CodeCatalyst List Dev Environments
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
  /v1/spaces/{spaceName}/projects:
    put:
      operationId: CreateProject
      description: Creates a project in a specified space.
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
              examples:
                CreateProject201Example:
                  summary: Default CreateProject 201 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    name: example-resource
                    displayName: example-resource
                    description: Example description
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                CreateProject480Example:
                  summary: Default CreateProject 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                CreateProject481Example:
                  summary: Default CreateProject 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                CreateProject482Example:
                  summary: Default CreateProject 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                CreateProject483Example:
                  summary: Default CreateProject 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                CreateProject484Example:
                  summary: Default CreateProject 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                CreateProject485Example:
                  summary: Default CreateProject 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - displayName
              properties:
                displayName:
                  description: The friendly name of the project that will be displayed to users.
                  type: string
                  pattern: '[a-zA-Z0-9]+(?:[-_\. ][a-zA-Z0-9]+)*'
                  minLength: 3
                  maxLength: 63
                description:
                  description: The description of the project. This description will be displayed to all users of the project. We recommend providing a brief description of the project and its intended purpose.
                  type: string
                  pattern: '[a-zA-Z0-9]+(?:[-_a-zA-Z0-9.,;:/\+=?&$%    ])*'
                  minLength: 0
                  maxLength: 200
            examples:
              CreateProjectRequestExample:
                summary: Default CreateProject request
                x-microcks-default: true
                value:
                  displayName: example-resource
                  description: Example description
      summary: Amazon CodeCatalyst Create Project
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    post:
      operationId: ListProjects
      description: Retrieves a list of projects.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectsResponse'
              examples:
                ListProjects200Example:
                  summary: Default ListProjects 200 response
                  x-microcks-default: true
                  value:
                    nextToken: example-value
                    items: example-value
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                ListProjects480Example:
                  summary: Default ListProjects 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                ListProjects481Example:
                  summary: Default ListProjects 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                ListProjects482Example:
                  summary: Default ListProjects 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                ListProjects483Example:
                  summary: Default ListProjects 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                ListProjects484Example:
                  summary: Default ListProjects 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                ListProjects485Example:
                  summary: Default ListProjects 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: maxResults
        in: query
        schema:
          type: string
        description: Pagination limit
        required: false
      - name: nextToken
        in: query
        schema:
          type: string
        description: Pagination token
        required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nextToken:
                  description: A token returned from a call to this API to indicate the next batch of results to return, if any.
                  type: string
                  minLength: 1
                  maxLength: 10000
                maxResults:
                  description: The maximum number of results to show in a single call to this API. If the number of results is larger than the number you specified, the response will include a <code>NextToken</code> element, which you can use to obtain additional results.
                  type: integer
                  minimum: 1
                  maximum: 100
                filters:
                  description: Information about filters to apply to narrow the results returned in the list.
                  type: array
                  items:
                    $ref: '#/components/schemas/ProjectListFilter'
            examples:
              ListProjectsRequestExample:
                summary: Default ListProjects request
                x-microcks-default: true
                value:
                  nextToken: example-value
                  maxResults: 1
                  filters:
                  - key: example-value
                    values: example-value
                    comparisonOperator: example-value
      summary: Amazon CodeCatalyst List Projects
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
  /v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{name}:
    put:
      operationId: CreateSourceRepository
      description: Creates an empty Git-based source repository in a specified project. The repository is created with an initial empty commit with a default branch named <code>main</code>.
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSourceRepositoryResponse'
              examples:
                CreateSourceRepository201Example:
                  summary: Default CreateSourceRepository 201 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    projectName: example-resource
                    name: example-resource
                    description: Example description
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                CreateSourceRepository480Example:
                  summary: Default CreateSourceRepository 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                CreateSourceRepository481Example:
                  summary: Default CreateSourceRepository 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                CreateSourceRepository482Example:
                  summary: Default CreateSourceRepository 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                CreateSourceRepository483Example:
                  summary: Default CreateSourceRepository 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                CreateSourceRepository484Example:
                  summary: Default CreateSourceRepository 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                CreateSourceRepository485Example:
                  summary: Default CreateSourceRepository 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: name
        in: path
        required: true
        description: The name of the source repository. For more information about name requirements, see <a href="https://docs.aws.amazon.com/codecatalyst/latest/userguide/source-quotas.html">Quotas for source repositories</a>.
        schema:
          type: string
          pattern: (?!.*[.]git$)[\w\-.]*
          minLength: 1
          maxLength: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: The description of the source repository.
                  type: string
                  minLength: 1
                  maxLength: 255
            examples:
              CreateSourceRepositoryRequestExample:
                summary: Default CreateSourceRepository request
                x-microcks-default: true
                value:
                  description: Example description
      summary: Amazon CodeCatalyst Create Source Repository
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    delete:
      operationId: DeleteSourceRepository
      description: Deletes a source repository in Amazon CodeCatalyst. You cannot use this API to delete a linked repository. It can only be used to delete a Amazon CodeCatalyst source repository.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSourceRepositoryResponse'
              examples:
                DeleteSourceRepository200Example:
                  summary: Default DeleteSourceRepository 200 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    projectName: example-resource
                    name: example-resource
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                DeleteSourceRepository480Example:
                  summary: Default DeleteSourceRepository 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                DeleteSourceRepository481Example:
                  summary: Default DeleteSourceRepository 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                DeleteSourceRepository482Example:
                  summary: Default DeleteSourceRepository 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                DeleteSourceRepository483Example:
                  summary: Default DeleteSourceRepository 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                DeleteSourceRepository484Example:
                  summary: Default DeleteSourceRepository 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                DeleteSourceRepository485Example:
                  summary: Default DeleteSourceRepository 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: name
        in: path
        required: true
        description: The name of the source repository.
        schema:
          type: string
          pattern: (?!.*[.]git$)[\w\-.]*
          minLength: 1
          maxLength: 100
      summary: Amazon CodeCatalyst Delete Source Repository
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    get:
      operationId: GetSourceRepository
      description: Returns information about a source repository.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSourceRepositoryResponse'
              examples:
                GetSourceRepository200Example:
                  summary: Default GetSourceRepository 200 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    projectName: example-resource
                    name: example-resource
                    description: Example description
                    lastUpdatedTime: example-value
                    createdTime: example-value
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                GetSourceRepository480Example:
                  summary: Default GetSourceRepository 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                GetSourceRepository481Example:
                  summary: Default GetSourceRepository 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                GetSourceRepository482Example:
                  summary: Default GetSourceRepository 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                GetSourceRepository483Example:
                  summary: Default GetSourceRepository 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                GetSourceRepository484Example:
                  summary: Default GetSourceRepository 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                GetSourceRepository485Example:
                  summary: Default GetSourceRepository 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: name
        in: path
        required: true
        description: The name of the source repository.
        schema:
          type: string
          pattern: (?!.*[.]git$)[\w\-.]*
          minLength: 1
          maxLength: 100
      summary: Amazon CodeCatalyst Get Source Repository
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
  /v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/branches/{name}:
    put:
      operationId: CreateSourceRepositoryBranch
      description: <p>Creates a branch in a specified source repository in Amazon CodeCatalyst. </p> <note> <p>This API only creates a branch in a source repository hosted in Amazon CodeCatalyst. You cannot use this API to create a branch in a linked repository.</p> </note>
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSourceRepositoryBranchResponse'
              examples:
                CreateSourceRepositoryBranch201Example:
                  summary: Default CreateSourceRepositoryBranch 201 response
                  x-microcks-default: true
                  value:
                    ref: example-value
                    name: example-resource
                    lastUpdatedTime: example-value
                    headCommitId: '500123'
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                CreateSourceRepositoryBranch480Example:
                  summary: Default CreateSourceRepositoryBranch 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                CreateSourceRepositoryBranch481Example:
                  summary: Default CreateSourceRepositoryBranch 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                CreateSourceRepositoryBranch482Example:
                  summary: Default CreateSourceRepositoryBranch 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                CreateSourceRepositoryBranch483Example:
                  summary: Default CreateSourceRepositoryBranch 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                CreateSourceRepositoryBranch484Example:
                  summary: Default CreateSourceRepositoryBranch 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                CreateSourceRepositoryBranch485Example:
                  summary: Default CreateSourceRepositoryBranch 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: sourceRepositoryName
        in: path
        required: true
        description: The name of the repository where you want to create a branch.
        schema:
          type: string
          pattern: (?!.*[.]git$)[\w\-.]*
          minLength: 1
          maxLength: 100
      - name: name
        in: path
        required: true
        description: The name for the branch you're creating.
        schema:
          type: string
          minLength: 1
          maxLength: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                headCommitId:
                  description: The commit ID in an existing branch from which you want to create the new branch.
                  type: string
            examples:
              CreateSourceRepositoryBranchRequestExample:
                summary: Default CreateSourceRepositoryBranch request
                x-microcks-default: true
                value:
                  headCommitId: '500123'
      summary: Amazon CodeCatalyst Create Source Repository Branch
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
  /v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}:
    delete:
      operationId: DeleteDevEnvironment
      description: 'Deletes a Dev Environment. '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDevEnvironmentResponse'
              examples:
                DeleteDevEnvironment200Example:
                  summary: Default DeleteDevEnvironment 200 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    projectName: example-resource
                    id: '500123'
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                DeleteDevEnvironment480Example:
                  summary: Default DeleteDevEnvironment 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                DeleteDevEnvironment481Example:
                  summary: Default DeleteDevEnvironment 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                DeleteDevEnvironment482Example:
                  summary: Default DeleteDevEnvironment 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                DeleteDevEnvironment483Example:
                  summary: Default DeleteDevEnvironment 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                DeleteDevEnvironment484Example:
                  summary: Default DeleteDevEnvironment 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                DeleteDevEnvironment485Example:
                  summary: Default DeleteDevEnvironment 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: id
        in: path
        required: true
        description: The system-generated unique ID of the Dev Environment you want to delete. To retrieve a list of Dev Environment IDs, use <a>ListDevEnvironments</a>.
        schema:
          type: string
          pattern: '[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'
      summary: Amazon CodeCatalyst Delete Dev Environment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    get:
      operationId: GetDevEnvironment
      description: Returns information about a Dev Environment for a source repository in a project. Dev Environments are specific to the user who creates them.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevEnvironmentResponse'
              examples:
                GetDevEnvironment200Example:
                  summary: Default GetDevEnvironment 200 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    projectName: example-resource
                    id: '500123'
                    lastUpdatedTime: example-value
                    creatorId: '500123'
                    status: ACTIVE
                    statusReason: ACTIVE
                    repositories: example-value
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                GetDevEnvironment480Example:
                  summary: Default GetDevEnvironment 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                GetDevEnvironment481Example:
                  summary: Default GetDevEnvironment 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                GetDevEnvironment482Example:
                  summary: Default GetDevEnvironment 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                GetDevEnvironment483Example:
                  summary: Default GetDevEnvironment 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                GetDevEnvironment484Example:
                  summary: Default GetDevEnvironment 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                GetDevEnvironment485Example:
                  summary: Default GetDevEnvironment 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: id
        in: path
        required: true
        description: The system-generated unique ID of the Dev Environment for which you want to view information. To retrieve a list of Dev Environment IDs, use <a>ListDevEnvironments</a>.
        schema:
          type: string
          pattern: '[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'
      summary: Amazon CodeCatalyst Get Dev Environment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    patch:
      operationId: UpdateDevEnvironment
      description: Changes one or more values for a Dev Environment. Updating certain values of the Dev Environment will cause a restart.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDevEnvironmentResponse'
              examples:
                UpdateDevEnvironment200Example:
                  summary: Default UpdateDevEnvironment 200 response
                  x-microcks-default: true
                  value:
                    id: '500123'
                    spaceName: example-resource
                    projectName: example-resource
                    alias: example-value
                    ides: '500123'
                    instanceType: STANDARD
                    inactivityTimeoutMinutes: example-value
                    clientToken: example-value
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                UpdateDevEnvironment480Example:
                  summary: Default UpdateDevEnvironment 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                UpdateDevEnvironment481Example:
                  summary: Default UpdateDevEnvironment 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                UpdateDevEnvironment482Example:
                  summary: Default UpdateDevEnvironment 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                UpdateDevEnvironment483Example:
                  summary: Default UpdateDevEnvironment 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                UpdateDevEnvironment484Example:
                  summary: Default UpdateDevEnvironment 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                UpdateDevEnvironment485Example:
                  summary: Default UpdateDevEnvironment 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: id
        in: path
        required: true
        description: 'The system-generated unique ID of the Dev Environment. '
        schema:
          type: string
          pattern: '[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                alias:
                  description: The user-specified alias for the Dev Environment. Changing this value will not cause a restart.
                  type: string
                  pattern: $|^[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*
                  minLength: 0
                  maxLength: 128
                ides:
                  description: Information about the integrated development environment (IDE) configured for a Dev Environment.
                  type: array
                  items:
                    $ref: '#/components/schemas/IdeConfiguration'
                  minItems: 0
                  maxItems: 1
                instanceType:
                  description: <p>The Amazon EC2 instace type to use for the Dev Environment. </p> <note> <p>Changing this value will cause a restart of the Dev Environment if it is running.</p> </note>
                  type: string
                  enum:
                  - dev.standard1.small
                  - dev.standard1.medium
                  - dev.standard1.large
                  - dev.standard1.xlarge
                inactivityTimeoutMinutes:
                  description: <p>The amount of time the Dev Environment will run without any activity detected before stopping, in minutes. Only whole integers are allowed. Dev Environments consume compute minutes when running.</p> <note> <p>Changing this value will cause a restart of the Dev Environment if it is running.</p> </note>
                  type: integer
                  minimum: 0
                  maximum: 1200
                clientToken:
                  description: A user-specified idempotency token. Idempotency ensures that an API request completes only once. With an idempotent request, if the original request completes successfully, the subsequent retries return the result from the original successful request and have no additional effect.
                  type: string
                  minLength: 1
                  maxLength: 1024
            examples:
              UpdateDevEnvironmentRequestExample:
                summary: Default UpdateDevEnvironment request
                x-microcks-default: true
                value:
                  alias: example-value
                  ides:
                  - runtime: example-value
                    name: example-resource
                  instanceType: dev.standard1.small
                  inactivityTimeoutMinutes: 1718153645993
                  clientToken: example-value
      summary: Amazon CodeCatalyst Update Dev Environment
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
  /v1/spaces/{spaceName}/projects/{name}:
    delete:
      operationId: DeleteProject
      description: Deletes a project in a space.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProjectResponse'
              examples:
                DeleteProject200Example:
                  summary: Default DeleteProject 200 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    name: example-resource
                    displayName: example-resource
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                DeleteProject480Example:
                  summary: Default DeleteProject 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                DeleteProject481Example:
                  summary: Default DeleteProject 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                DeleteProject482Example:
                  summary: Default DeleteProject 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                DeleteProject483Example:
                  summary: Default DeleteProject 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                DeleteProject484Example:
                  summary: Default DeleteProject 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                DeleteProject485Example:
                  summary: Default DeleteProject 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: name
        in: path
        required: true
        description: The name of the project in the space. To retrieve a list of project names, use <a>ListProjects</a>.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      summary: Amazon CodeCatalyst Delete Project
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    get:
      operationId: GetProject
      description: Returns information about a project.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectResponse'
              examples:
                GetProject200Example:
                  summary: Default GetProject 200 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    name: example-resource
                    displayName: example-resource
                    description: Example description
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                GetProject480Example:
                  summary: Default GetProject 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                GetProject481Example:
                  summary: Default GetProject 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                GetProject482Example:
                  summary: Default GetProject 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                GetProject483Example:
                  summary: Default GetProject 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                GetProject484Example:
                  summary: Default GetProject 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                GetProject485Example:
                  summary: Default GetProject 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: name
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      summary: Amazon CodeCatalyst Get Project
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    patch:
      operationId: UpdateProject
      description: Changes one or more values for a project.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProjectResponse'
              examples:
                UpdateProject200Example:
                  summary: Default UpdateProject 200 response
                  x-microcks-default: true
                  value:
                    spaceName: example-resource
                    name: example-resource
                    displayName: example-resource
                    description: Example description
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                UpdateProject480Example:
                  summary: Default UpdateProject 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                UpdateProject481Example:
                  summary: Default UpdateProject 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                UpdateProject482Example:
                  summary: Default UpdateProject 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                UpdateProject483Example:
                  summary: Default UpdateProject 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                UpdateProject484Example:
                  summary: Default UpdateProject 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                UpdateProject485Example:
                  summary: Default UpdateProject 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: name
        in: path
        required: true
        description: The name of the project.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: The description of the project.
                  type: string
                  pattern: '[a-zA-Z0-9]+(?:[-_a-zA-Z0-9.,;:/\+=?&$%    ])*'
                  minLength: 0
                  maxLength: 200
            examples:
              UpdateProjectRequestExample:
                summary: Default UpdateProject request
                x-microcks-default: true
                value:
                  description: Example description
      summary: Amazon CodeCatalyst Update Project
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
  /v1/spaces/{name}:
    delete:
      operationId: DeleteSpace
      description: <p>Deletes a space.</p> <important> <p>Deleting a space cannot be undone. Additionally, since space names must be unique across Amazon CodeCatalyst, you cannot reuse names of deleted spaces.</p> </important>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSpaceResponse'
              examples:
                DeleteSpace200Example:
                  summary: Default DeleteSpace 200 response
                  x-microcks-default: true
                  value:
                    name: example-resource
                    displayName: example-resource
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                DeleteSpace480Example:
                  summary: Default DeleteSpace 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                DeleteSpace481Example:
                  summary: Default DeleteSpace 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                DeleteSpace482Example:
                  summary: Default DeleteSpace 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                DeleteSpace483Example:
                  summary: Default DeleteSpace 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                DeleteSpace484Example:
                  summary: Default DeleteSpace 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                DeleteSpace485Example:
                  summary: Default DeleteSpace 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: name
        in: path
        required: true
        description: The name of the space. To retrieve a list of space names, use <a>ListSpaces</a>.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      summary: Amazon CodeCatalyst Delete Space
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    get:
      operationId: GetSpace
      description: Returns information about an space.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpaceResponse'
              examples:
                GetSpace200Example:
                  summary: Default GetSpace 200 response
                  x-microcks-default: true
                  value:
                    name: example-resource
                    regionName: example-resource
                    displayName: example-resource
                    description: Example description
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                GetSpace480Example:
                  summary: Default GetSpace 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                GetSpace481Example:
                  summary: Default GetSpace 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                GetSpace482Example:
                  summary: Default GetSpace 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                GetSpace483Example:
                  summary: Default GetSpace 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                GetSpace484Example:
                  summary: Default GetSpace 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                GetSpace485Example:
                  summary: Default GetSpace 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: name
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      summary: Amazon CodeCatalyst Get Space
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
    patch:
      operationId: UpdateSpace
      description: Changes one or more values for a space.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSpaceResponse'
              examples:
                UpdateSpace200Example:
                  summary: Default UpdateSpace 200 response
                  x-microcks-default: true
                  value:
                    name: example-resource
                    displayName: example-resource
                    description: Example description
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                UpdateSpace480Example:
                  summary: Default UpdateSpace 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                UpdateSpace481Example:
                  summary: Default UpdateSpace 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                UpdateSpace482Example:
                  summary: Default UpdateSpace 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                UpdateSpace483Example:
                  summary: Default UpdateSpace 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                UpdateSpace484Example:
                  summary: Default UpdateSpace 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                UpdateSpace485Example:
                  summary: Default UpdateSpace 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: name
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: The description of the space.
                  type: string
                  pattern: '[a-zA-Z0-9]+(?:[-_a-zA-Z0-9.,;:/\+=?&$%    ])*'
                  minLength: 0
                  maxLength: 200
            examples:
              UpdateSpaceRequestExample:
                summary: Default UpdateSpace request
                x-microcks-default: true
                value:
                  description: Example description
      summary: Amazon CodeCatalyst Update Space
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
  /v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/cloneUrls:
    get:
      operationId: GetSourceRepositoryCloneUrls
      description: Returns information about the URLs that can be used with a Git client to clone a source repository.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSourceRepositoryCloneUrlsResponse'
              examples:
                GetSourceRepositoryCloneUrls200Example:
                  summary: Default GetSourceRepositoryCloneUrls 200 response
                  x-microcks-default: true
                  value:
                    https: example-value
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                GetSourceRepositoryCloneUrls480Example:
                  summary: Default GetSourceRepositoryCloneUrls 480 response
                  x-microcks-default: true
                  value: https://example.amazonaws.com
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                GetSourceRepositoryCloneUrls481Example:
                  summary: Default GetSourceRepositoryCloneUrls 481 response
                  x-microcks-default: true
                  value: https://example.amazonaws.com
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                GetSourceRepositoryCloneUrls482Example:
                  summary: Default GetSourceRepositoryCloneUrls 482 response
                  x-microcks-default: true
                  value: https://example.amazonaws.com
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                GetSourceRepositoryCloneUrls483Example:
                  summary: Default GetSourceRepositoryCloneUrls 483 response
                  x-microcks-default: true
                  value: https://example.amazonaws.com
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                GetSourceRepositoryCloneUrls484Example:
                  summary: Default GetSourceRepositoryCloneUrls 484 response
                  x-microcks-default: true
                  value: https://example.amazonaws.com
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                GetSourceRepositoryCloneUrls485Example:
                  summary: Default GetSourceRepositoryCloneUrls 485 response
                  x-microcks-default: true
                  value: https://example.amazonaws.com
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: projectName
        in: path
        required: true
        description: The name of the project in the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      - name: sourceRepositoryName
        in: path
        required: true
        description: The name of the source repository.
        schema:
          type: string
          pattern: (?!.*[.]git$)[\w\-.]*
          minLength: 1
          maxLength: 100
      summary: Amazon CodeCatalyst Get Source Repository Clone Urls
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
  /v1/spaces/{spaceName}/subscription:
    get:
      operationId: GetSubscription
      description: Returns information about the Amazon Web Services account used for billing purposes and the billing plan for the space.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
              examples:
                GetSubscription200Example:
                  summary: Default GetSubscription 200 response
                  x-microcks-default: true
                  value:
                    subscriptionType: STANDARD
                    awsAccountName: example-resource
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                GetSubscription480Example:
                  summary: Default GetSubscription 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                GetSubscription481Example:
                  summary: Default GetSubscription 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                GetSubscription482Example:
                  summary: Default GetSubscription 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                GetSubscription483Example:
                  summary: Default GetSubscription 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                GetSubscription484Example:
                  summary: Default GetSubscription 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                GetSubscription485Example:
                  summary: Default GetSubscription 485 response
                  x-microcks-default: true
                  value: example-value
      parameters:
      - name: spaceName
        in: path
        required: true
        description: The name of the space.
        schema:
          type: string
          pattern: '[a-zA-Z0-9]+(?:[-_\.][a-zA-Z0-9]+)*'
          minLength: 3
          maxLength: 63
      summary: Amazon CodeCatalyst Get Subscription
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Spaces
  /v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{devEnvironmentId}/sessions:
    post:
      operationId: ListDevEnvironmentSessions
      description: Retrieves a list of active sessions for a Dev Environment in a project.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDevEnvironmentSessionsResponse'
              examples:
                ListDevEnvironmentSessions200Example:
                  summary: Default ListDevEnvironmentSessions 200 response
                  x-microcks-default: true
                  value:
                    items: example-value
                    nextToken: example-value
        '480':
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
              examples:
                ListDevEnvironmentSessions480Example:
                  summary: Default ListDevEnvironmentSessions 480 response
                  x-microcks-default: true
                  value: example-value
        '481':
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
              examples:
                ListDevEnvironmentSessions481Example:
                  summary: Default ListDevEnvironmentSessions 481 response
                  x-microcks-default: true
                  value: example-value
        '482':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
              examples:
                ListDevEnvironmentSessions482Example:
                  summary: Default ListDevEnvironmentSessions 482 response
                  x-microcks-default: true
                  value: example-value
        '483':
          description: ServiceQuotaExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQuotaExceededException'
              examples:
                ListDevEnvironmentSessions483Example:
                  summary: Default ListDevEnvironmentSessions 483 response
                  x-microcks-default: true
                  value: example-value
        '484':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
              examples:
                ListDevEnvironmentSessions484Example:
                  summary: Default ListDevEnvironmentSessions 484 response
                  x-microcks-default: true
                  value: example-value
        '485':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
              examples:
                ListDevEnvironmentSessions485Example:
[...]
